@model Item;
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robo World</title>
    <link rel="stylesheet" href="@Url.Content("~/css/Style.css")" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
          
                <div class="col col_style card">
                    <div>
                        <img id="portfolio-pic" src="@Url.Content("~")/images/@Model.ImagePath" />
                        <h5>@Model.ItemName</h5>
                        <p class="price">@Model.Price</p>
                        <p>@Model.Description</p>
                    </div>
                    <p><button id="bbutton" style="width: 200px"  asp-controller="Cart" asp-action="AddProduct" onclick="location.href='@Url.Action("AddProduct", "Cart", FormMethod.Post)?itemId='+@Model.ItemID">Add to Cart</button></p>
                </div>
         
        </div>

    </div>
</body>
</html>